# Arquivos do sistema
*.class
*.iml
*.log
*.war
*.ear
*.jar

# Diretórios
target/
bin/
build/
out/

# Arquivos de configuração
#application.properties
#application.yml
#application-dev.properties
#application-dev.yml
#application-prod.properties
#application-prod.yml

# Arquivos de log
log/
logs/
*.log

# Eclipse
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml

# NetBeans
nb-configuration.xml

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle
.gradle/
build/

# Logs e arquivos temporários
*.log
*.swp
*~

# Configurações específicas de sistema operacional
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/

out.json
